body{
    background-image: url(images/download.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    opacity: 150%;
}
.container h1{
    font-size: 35px;
    font-weight: bolder;
    justify-self: center;
    font-style: normal;
}
.container p{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    justify-content: center;
}
li{
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
    color: black;

}
#rights{
    margin-left: 370px;
    margin-top: 300px;
    color: black;
    font-size: 14px;   
}
      
      