body{
    background-image: url(images/download\ \(1\).jpeg2);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.container h1{
    font-size: 25px;
    font-weight: bold;
    justify-self: center;
}
.container p{
    font-size: 16px;
}
