body{
    background-image: url(images/download\ \(1\).jpeg2);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
h1{
    font-size: 25px;
    font-weight: bold;
    justify-self: center;wacha nizipush kwanza
}
